<div class="ui container">
    <p></p>
    <div class="cent">
     <%= image_tag  "logo.png" %>
    </div>
    <p></p>
    <% if notice %>
        <div class="notice">
            <%= notice %>
        </div>
        <br>
        <% end %>

            <% @projects.each do |p| %>
                <div class="ui one cards">
                    <div class="ui card">
                        <div class="content ui inverted blue segment">
                            <div class="right floated meta">
                                <i class="ui inverted write icon" data-content="Edit"></i>
                                <%= link_to project_path(p),
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
                                    <i class="ui inverted delete icon" data-content="Delete"></i>
                                    <% end %>
                            </div>
                            <i class="browser outline icon"></i>
                            <%= p.name %>
                        </div>

                        <div class="extra content">
                            <%= form_for :task, url: project_tasks_path(p.id), action: :create do |f| %>
                                <div class="ui small right action fluid left icon input">
                                    <i class="add green icon"></i>
                                    <%= f.text_field :name, placeholder: "Add new task to the project..." do %>
                                        <% end %>
                                            <div>
                                                <%= f.submit 'Add', class: "ui green small button" %>
                                            </div>
                                            <% end %>
                                </div>
                                <p></p>
                                <a class="like">
                                    Show completed tasks
                                </a>
                        </div>

                        <% p.tasks.where(status: false).order(priority: :desc).each do |task| %>
                            <div class="content">
                                <span class="right floated">

                                    <% if task.due_date %>
                                        <%= task.due_date.strftime("%F") %>
                                            <% else %>
                                                <a>
                                                    <i class="calendar outline icon" data-content="Add due date"></i>
                                                </a>
                                                <% end %>

                                                    <% case task.priority.to_i %>
                                                    <% when 1 %>
                                                        <% priority_color = "yellow" %>
                                                        <% when 2 %>
                                                        <% priority_color = "orange" %>
                                                        <% when 3 %>
                                                    <% priority_color = "red" %>
                                                        <% end %>

                                                        <div class="ui <%= priority_color %> horizontal label" data-content="Change priority">
                                                            <%= link_to priority_project_task_path(task.project, task), data: {method: :put} do %>
                                                            <%= Task::PRIORITIES[task.priority.to_i] %>
                                                            <% end %>
                                                            </div>
                                                                <i class="ui grey write icon" data-content="Edit"></i>
                                                            <%= link_to [task.project, task],
                                                         method: :delete do %>
                                                        <i class="ui grey delete icon" data-content="Delete"></i>
                                                        <% end %>

                                </span>

                                <%= link_to complete_project_task_path(task.project, task), data: {method: :put}, class: "ui checkbox" do %>
                                    <input type="checkbox" name="example" <%='checked=""' if task.status %> >
                                    <label>
                                        <%= task.name %>
                                    </label>
                                    <% end %>

                                        <div class="ui checkbox">



                                        </div>
                            </div>
                            <% end %>




                                <!--Completed tasks-->

                                <% p.tasks.where(status: true).order(priority: :desc).each do |task| %>
                                    <div class="content">
                                        <span class="right floated">

                                            <% if task.due_date %>
                                                <%= task.due_date.strftime("%F") %>
                                                    <% end %>
                                                        <%= link_to [task.project, task],
                                        method: :delete do %>
                                                            <i class="ui grey delete icon" data-content="Delete"></i>
                                                            <% end %>

                                        </span>

                                        <%= link_to complete_project_task_path(task.project, task), data: {method: :put}, class: "ui checkbox" do %>
                                            <input type="checkbox" name="example" <%='checked=""' if task.status %> >
                                            <label>
                                                <strike>
                                                    <%= task.name %>
                                                </strike>
                                            </label>
                                            <% end %>

                                                <div class="ui checkbox">



                                                </div>
                                    </div>
                                    <% end %>

                                        <!--End of Completed tasks-->


                    </div>

                </div>
                <% end %>



                    <p></p>

                    <div class="cent">
                        <button class="ui labeled icon primary addnew button">
                            <i class="add icon"></i>
                            Add ToDo List
                        </button>
                    </div>
</div>

<br/>
<%= render 'add_new_modal' %>

    <script>
        $('.addnew.modal').modal('attach events', '.addnew.button', 'show');
        $(".notice").fadeOut(5000);
        $('.write.icon').popup();
        $('.delete.icon').popup();
        $('.calendar.outline.icon').popup();
        $('.bookmark.icon').popup();
        $('.horizontal.label').popup();
        l
    </script>