<div class="ui container">
    <p></p>
    <div class="cent">
        <h2 class="ui center aligned header">
            SIMPLE TODO LISTS
        </h2>
        Ruby Garage
    </div>
    <p></p>
    <% if notice %>
        <div class="notice">
            <%= notice %>
        </div>
        <br>
        <% end %>

            <% @projects.each do |p| %>
                <div class="ui one cards">
                    <div class="ui card">
                        <div class="content ui inverted blue segment">
                            <div class="right floated meta">
                                <i class="ui inverted write icon" data-content="Edit"></i>
                                <%= link_to project_path(p),
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
                                    <i class="ui inverted delete icon" data-content="Delete"></i>
                                    <% end %>
                            </div>
                            <i class="browser outline icon"></i>
                            <%= p.name %>
                        </div>

                        <div class="extra content">
                            <%= form_for :task, url: project_tasks_path(p.id), action: :create do |f| %>
                                <div class="ui small right action fluid left icon input">
                                    <i class="add green icon"></i>
                                    <%= f.text_field :name do %>
                                        <input type="text" placeholder="Add new task to the project...">
                                        <% end %>
                                            <div>
                                                <%= f.submit 'Add', class: "ui green small button" %>
                                            </div>
                                            <% end %>
                                </div>
                                <p></p>
                                <a class="like">
                                    Show completed tasks
                                </a>
                        </div>

                        <% p.tasks.each do |task| %>
                            <div class="content">
                                <span class="right floated">

                               

                                    <% case task.priority.to_i %>
                                    <% when 1 %>
                                    <div class="ui yellow horizontal label">
                                        <%= link_to projects_path do %>
                                            <strong><%= task.priority %></strong> <span><%= Task::PRIORITIES[task.priority.to_i] %></span>
                                        <% end %>
                                    </div>
                                    <% when 2 %>
                                    <div class="ui orange horizontal label"><%= Task::PRIORITIES[2] %></div>
                                    <% when 3 %>
                                    <div class="ui red horizontal label"><%= Task::PRIORITIES[3] %></div>
                                    <% else %>
                                    <%= link_to :url => { :controller => :tasks, :action => "create", :method => :post } do %>
                                        <strong><%= task.priority %></strong> <span>Priority</span>
                                    <% end %>
                                    <% end %>

                                    <a>
                                        <i class="calendar outline icon" data-content="Add due date"></i>
                                    </a>
                                    <i class="ui grey write icon" data-content="Edit"></i>
                                    <%= link_to [task.project, task],
                                    method: :delete do %>
                                        <i class="ui grey delete icon" data-content="Delete"></i>
                                        <% end %>

                                </span>
                                
                                <div class="ui checkbox">
                                    
                                    <input type="checkbox" name="example">
                                    <label>
                                        <%= task.name %>
                                    </label>
                                    
                                </div>
                            </div>
                            <% end %>

                    </div>
                </div>
                <% end %>

                    <p></p>

                    <div class="cent">
                        <button class="ui labeled icon primary addnew button">
                            <i class="add icon"></i>
                            Add ToDo List
                        </button>
                    </div>
</div>

<br/>
<%= render 'add_new_modal' %>
    <script>
        $('.addnew.modal').modal('attach events', '.addnew.button', 'show');
        $(".notice").fadeOut(5000);
        $('.write.icon').popup();
        $('.delete.icon').popup();
        $('.calendar.outline.icon').popup();
    </script>